.filters {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.box-search {
  width: 400px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px 30px;
  background: var(--dark_mode_elements);
  box-shadow: 0 5px 10px rgba(17, 21, 23, 0.1);
}

.inputSearch {
  height: 100%;
  width: 100%;
  color: var(--dark_mode_text_light_mode_elements);
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
}

.inputSearch::placeholder {
  color: var(--dark_mode_text_light_mode_elements);
  opacity: 0.7;
}

.icon {
  font-size: 20px;
  color: var(--dark_mode_text_light_mode_elements);
}

.select-box {
  width: 200px;
}

.selected {
  width: 100%;
  background: var(--dark_mode_elements);
  color: var(--dark_mode_text_light_mode_elements);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0 5px 10px rgba(17, 21, 23, 0.1);
  cursor: pointer;
}

.items {
  margin-top: 1rem;
  background: var(--dark_mode_elements);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(17, 21, 23, 0.1);
}

.listItem {
  display: flex;
  padding: 15px 20px;
  color: var(--dark_mode_text_light_mode_elements);
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.listItem:hover {
  opacity: 0.5;
  background: var(--dark_mode_background);
}

.listItem input {
  display: none;
}

.listItem label {
  width: 100%;
  cursor: pointer;
}
